{
  "openapi": "3.0.3",
  "info": {
    "title": "Aab.Engineering API",
    "description": "Building Blocks for Agentic DeFi - APIs for staking, swaps, bridges, wallets, and fiat on-ramps",
    "version": "1.0.0",
    "contact": {
      "name": "Aab.Engineering",
      "url": "https://aab.engineering"
    }
  },
  "servers": [
    {
      "url": "https://aab.engineering",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local Development"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [{ "ApiKeyAuth": [] }],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Check API health (free, no auth)",
        "tags": ["Utility"],
        "responses": {
          "200": { "description": "OK" }
        }
      }
    },
    "/v1/chains": {
      "get": {
        "summary": "Get supported chains",
        "description": "List all supported blockchain networks (free tier)",
        "tags": ["Chains"],
        "responses": {
          "200": { "description": "Chain list" }
        }
      }
    },
    "/v1/rates": {
      "get": {
        "summary": "Get yield rates",
        "description": "Yield rates across protocols (free tier)",
        "tags": ["Rates"],
        "responses": {
          "200": { "description": "Rate data" }
        }
      }
    },
    "/v1/bridge/config": {
      "get": {
        "summary": "Get bridge config",
        "description": "Bridge options and fees (free tier)",
        "tags": ["Bridge"],
        "responses": {
          "200": { "description": "Bridge configuration" }
        }
      }
    },
    "/v1/bridge/chains": {
      "get": {
        "summary": "Get bridge chains",
        "description": "Supported bridge destinations (free tier)",
        "tags": ["Bridge"],
        "responses": {
          "200": { "description": "Chain list" }
        }
      }
    },
    "/v1/bridge/tokens": {
      "get": {
        "summary": "Get bridge tokens",
        "description": "Tokens available for bridging (free tier)",
        "tags": ["Bridge"],
        "parameters": [
          { "name": "chain", "in": "query", "required": true }
        ],
        "responses": {
          "200": { "description": "Token list" }
        }
      }
    },
    "/v1/bridge/quote": {
      "post": {
        "summary": "Get bridge quote",
        "description": "Get quote for bridging assets",
        "tags": ["Bridge"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fromChain": { "type": "string" },
                  "toChain": { "type": "string" },
                  "fromToken": { "type": "string" },
                  "toToken": { "type": "string" },
                  "amount": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Quote result" }
        }
      }
    },
    "/v1/swap/tokens": {
      "get": {
        "summary": "Get swap tokens",
        "description": "Tokens available for swapping (free tier)",
        "tags": ["Swap"],
        "parameters": [
          { "name": "chain", "in": "query", "required": true }
        ],
        "responses": {
          "200": { "description": "Token list" }
        }
      }
    },
    "/v1/swap/quote": {
      "post": {
        "summary": "Get swap quote",
        "description": "Get quote for token swap",
        "tags": ["Swap"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chain": { "type": "string" },
                  "fromToken": { "type": "string" },
                  "toToken": { "type": "string" },
                  "amount": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Swap quote" }
        }
      }
    },
    "/v1/staking/rates": {
      "get": {
        "summary": "Get staking rates",
        "description": "Liquid staking APYs (free tier)",
        "tags": ["Staking"],
        "parameters": [
          { "name": "chain", "in": "query" }
        ],
        "responses": {
          "200": { "description": "Staking rates" }
        }
      }
    },
    "/v1/staking/deposit": {
      "post": {
        "summary": "Get deposit transaction",
        "description": "Generate staking deposit transaction",
        "tags": ["Staking"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assetId": { "type": "string" },
                  "amount": { "type": "string" },
                  "userAddress": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Deposit transaction" }
        }
      }
    },
    "/v1/staking/withdraw": {
      "post": {
        "summary": "Get withdraw transaction",
        "description": "Generate staking withdraw transaction",
        "tags": ["Staking"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assetId": { "type": "string" },
                  "amount": { "type": "string" },
                  "userAddress": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Withdraw transaction" }
        }
      }
    },
    "/v1/wallet/create": {
      "post": {
        "summary": "Create MPC wallet",
        "description": "Create non-custodial MPC wallet via TurnKey",
        "tags": ["Wallet"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Wallet created" }
        }
      }
    },
    "/v1/wallet/{walletId}/sign": {
      "post": {
        "summary": "Sign transaction",
        "description": "Request transaction signature (user approval required)",
        "tags": ["Wallet"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "walletId", "in": "path", "required": true }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": { "type": "string" },
                  "value": { "type": "string" },
                  "data": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Signature ready" }
        }
      }
    },
    "/v1/moonpay/buy-url": {
      "get": {
        "summary": "Get MoonPay buy URL",
        "description": "Widget URL for buying crypto with fiat",
        "tags": ["MoonPay"],
        "parameters": [
          { "name": "walletAddress", "in": "query", "required": true },
          { "name": "fiatCurrency", "in": "query" },
          { "name": "cryptoCurrency", "in": "query" }
        ],
        "responses": {
          "200": { "description": "Widget URL" }
        }
      }
    },
    "/v1/moonpay/sell-url": {
      "get": {
        "summary": "Get MoonPay sell URL",
        "description": "Widget URL for selling crypto to fiat",
        "tags": ["MoonPay"],
        "parameters": [
          { "name": "walletAddress", "in": "query", "required": true },
          { "name": "cryptoCurrency", "in": "query" }
        ],
        "responses": {
          "200": { "description": "Widget URL" }
        }
      }
    },
    "/v1/moonpay/quote": {
      "get": {
        "summary": "Get MoonPay quote",
        "description": "Quote for buying crypto",
        "tags": ["MoonPay"],
        "parameters": [
          { "name": "amount", "in": "query", "required": true },
          { "name": "fiatCurrency", "in": "query" },
          { "name": "cryptoCurrency", "in": "query" }
        ],
        "responses": {
          "200": { "description": "Buy quote" }
        }
      }
    },
    "/v1/moonpay/webhook": {
      "post": {
        "summary": "MoonPay webhook",
        "description": "Handle MoonPay callbacks",
        "tags": ["MoonPay"],
        "responses": {
          "200": { "description": "Webhook processed" }
        }
      }
    }
  },
  "tags": [
    { "name": "Utility", "description": "Health and status" },
    { "name": "Chains", "description": "Blockchain networks" },
    { "name": "Rates", "description": "Yield rates" },
    { "name": "Bridge", "description": "Cross-chain bridging" },
    { "name": "Swap", "description": "Token swaps" },
    { "name": "Staking", "description": "Liquid staking" },
    { "name": "Wallet", "description": "MPC wallets" },
    { "name": "MoonPay", "description": "Fiat on-ramp" }
  ]
}
